.logo{
    position: absolute;
    width: 200px;
    height: 56px;
    }

#mainlogo{
    position: relative;
    width: 200px;
    height: 56px;
    margin-left: 80px;
    margin-top: 5px;
    float: left;
}
.fixed-header {
    position: fixed;
    width: 100%; 
}
#header {
    width: 100%;
    height:70px;
    background-color: #152238;
    position: fixed;
    z-index: 10; 
    top: 0;
    left: 0;
}
#menu{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Verdana;
    margin-top: 14px;
    margin-right: 100px;
    font-size: 18px;
    background-color: #152238;
}            
.menu {
    float: right;
    height: 56px;
    width: 110px;
    border-radius: 60px;            
}
.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 9px;
    text-decoration: none;
}
.menu a:hover { 
    color:lightgrey;
}
#login{
    background-color: #FF0000;
    height: 40px;
    width: 90px;
    border-radius: 30px;
}
#login a {
    color: white;
}
#tripledash{
    position: relative;
    height: 40px;
    width: 53.33px;
    float: right;
    left: 3px;
    top:3px;
}

.dropbtn {
    position: relative;
    float: right;
    margin-top: 18px;
    height:45px;
    width:45px;
    border-radius: 50%;
    background-color: transparent;
    top:-3px;
    display: none
    
}
.dropmenu{
    height: 40px;
    width: 100%;
}
.dropmenu a{
    display: block;
    color: darkgrey;
    padding: 9px;
    text-decoration: none;
}
.dropmenu a:hover{
    color: white;
}
#dropbox{
    display: none;
    margin: 0;
    padding: 0;
    font-family: Verdana;
    margin-top: 80px;
    margin-left:25px;
    font-size: 18px;
    background-color: white;
    position: relative;
    width: 100%;
    text-align: inherit
}
#droplogin{
    background-color: #FF0000;
    height: 40px;
    width: 90px;
    border-radius: 30px;
}
#droplogin a {
    color: white;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 25px 15px;
}

.dropdown-content a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: start;
    font-size: 14px;
}

.dropdown-content a:hover {
    color: black;
}

.dropdown:hover .dropdown-content {display: block;}



            

        
    