
        @font-face {
            font-family: CC Colon;
            src: url(../font/cc\ colon.ttf);
        }
        .logo{
            zoom: 5%;
            position:absolute;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);

        }

        #content{
            height: 830px;
            padding-top: 300px;
        }
        #content-caption{
            font-family: CC Colon;
            margin: auto;
            color: white;
            font-size: 66px;
        }
        #caption{
            font-family: Arial, Helvetica, sans-serif;
            margin: auto;
            color: white;
            font-size: 36px;
        }
        .footertext a{
            padding:0px 0px;
            color: white;
            font-size: 15px;
            text-decoration-line: none;
        }
        .footertext a:hover{
            color: darkgrey;
        }
        .service-heading{
            font-size: 72px;
            padding: 0px;
            margin: 0px;
            font-family: CC Colon;
        }
        .service-div{
            margin: 80% 0px 25% 10%;
        }
        #whorv,#wwd{
            font-family: CC Colon;
            color: white;
        }
        #whorv{
            background-color:teal; 
            height: 800px;
        }
        #wwd{
            background-color:rgb(72, 138, 188); 
            height: 800px; 
            background-size: contain;
        }
        .about{
            margin: 8% 0% 0% 10%;
        }
        #button-1{
            border-radius: 50px;
            font-weight: bolder;
        }
        .form-control{
            background-color: wheat;
        }
        .form-control::content{
            background-color: wheat;
        }
        .h-btn{
            cursor: pointer;
        }
        .h-btn:hover{
            color: #FF0000;
        }
        .abtus{
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif
        }
        #stickey-laptop{
            position:sticky; 
            float: right; 
            padding: 0% 6%;
            top:230px;
            width: 700px;
            height: 500px;
        }
        .navbar-toggler:focus{
            box-shadow: none;
        }
        .laptop-images{
            object-fit: fill;
            height: 260px;
            width: 441px;
            position: relative;
            margin: auto;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            padding: 0;
            margin: 0;
        }
        #laptop-screen{
            position:absolute; 
            height: 260px;
            width: 441px;
            left: 137px;
            top: 31px;
            background-color: white;
            overflow:hidden;
            -ms-overflow-style: none;
            padding: 0;
            margin: 0;
        }
        .screen{
            position: absolute;
            height: 138.11px;
            width: 233.77x;
            background-color: white;
            left: 50%;
            -webkit-transform: translate(-50%, 25%);
            transform: translate(-50%, 25%);
        }
        .screen-images{

            height: 138.11px;
            width: 233.77px;
            object-fit: fill;
            
        }
        #t1,#t2,#t3,#t4,#t5,#t6,#t7,#t8{
            opacity: 1;
            padding: 0;
            margin: 0;
        }
        #laptop-screen::-webkit-scrollbar{
            display: none;
        }
        #hor-scroll{
            height: 260px;
            white-space: nowrap;
            padding: 0;
            margin: 0;
        }
        .mobile-laptop{
            width:340px ;
            left: 50%;
            -webkit-transform: translate(-50%, 10%);
            transform: translate(-50%, 10%);
        }

        #contact{
            border-color: white;
            border-width: 1px;
            border-style: solid;
            border-radius: 30px;
            position: relative;
            top:0px;
        }
        #contact a {
            font-family:sans-serif;
            color: white;
            font-size: 14px;
            text-align: center;
            margin: 3px 6px; 
            padding: 6px;
            text-decoration: none;
            display: block;
        }





        .service-btn a{
            border-radius: 100px;
            float: left;
            margin: 10px;
            font-family: monospace;

        }
        #service-caption{
            font-family: CC Colon;
            height: 1000px;
            padding-top: 200px;
            font-size: 50px;

        }