
        @font-face {
            font-family: CC Colon;
            src: url(../font/cc\ colon.ttf);
        }
        .logo{
            zoom: 5%;
            position:absolute;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);

        }

        header{
            height: 830px;
            padding-top: 300px;
        }
       
        .footertext a{
            padding:0px 0px;
            color: white;
            font-size: 15px;
            text-decoration-line: none;
        }
        .footertext a:hover{
            color: darkgrey;
        }
        .service-heading{
            font-size: 72px;
            padding: 0px;
            margin: 0px;
            font-family: CC Colon;
        }
        .service-div{
            margin: 80% 0px 25% 10%;
        }
        
        .navbar-toggler:focus{
            box-shadow: none;
        }
        

        #contact{
            border-color: white;
            border-width: 1px;
            border-style: solid;
            border-radius: 30px;
            position: relative;
            top:0px;
        }
        #contact a {
            font-family:sans-serif;
            color: white;
            font-size: 14px;
            text-align: center;
            margin: 3px 6px; 
            padding: 6px;
            text-decoration: none;
            display: block;
        }



        .service-animation{
            width: 25%;
            float: left;
        }